.auth_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.auth_box input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.auth_box button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}