* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  border: 2px solid black;
}

.header a {
  margin: 20px;
}

.page-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-left {
  width: 15%;
  margin: 10px;
  border: 2px solid black;
}

.page-left ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.page-left li {
  display: flex;
  justify-content: center;
}

.page-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 10px;
}

.left-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.member-display {
  width: 90%;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.member-display h5 {
  margin-block-start: .5em;
  margin-block-end: .5em;
  padding: 5px;
  background-color: whitesmoke;
  border: 2px solid black;
}

.add-event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.add-event-box label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-event-box input[type=text] {
  margin: 5px;
  width: 70%;
}

.add-event-box textarea {
  margin: 5px;
  width: 70%;
}

.add-event-box select {
  margin: 5px;
  width: 70%;
}

.add-event-box input[type=date] {
  margin: 5px;
  width: 50%;
}

.add-event-box input[type=time] {
  margin: 5px;
  width: 35%;
}

.add-event-box button {
  margin: 10px;
  width: 50%;
}
