* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  border: 2px solid black;
}

.calendar-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

.calendar-head button {
  width: 10%;
}

.month-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

.month-head button {
  width: 10%;
}

.day-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.day-of-week {
  text-align: center;
  border: 2px solid black;
}

.month-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 200px;
  width: 100%;
}

.month-body div:first-child {
  grid-column: 1;
}

.month-day {
  height: 100%;
  border: 2px solid black;
}

.month-day h3 {
  top: 0;
}

.other-month-day {
  height: 100%;
  border: 2px solid black;
  background-color: lightgray;
}

.other-month-day h3 {
  top: 0;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  border: 2px solid black;
}

.day-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

.day-head button {
  width: 10%;
}

.day-body {
  width: 100%;
  text-align: center;
  border: 2px solid black;
}