.left_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #77d7db;
}

.member_display {
  width: 90%;
  padding: 30px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: black;
  background-color: #77d7db;
}

.member_display h5 {
  margin-block-start: .5em;
  margin-block-end: .5em;
  padding: 5px;
  color: black;
  background-color: whitesmoke;
  border: 2px solid black;
}

.event_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-color: whitesmoke;
}

.event_box label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.event_box input[type=text] {
  margin-left: 10px;
  width: 70%;
}

.event_box textarea {
  margin-left: 10px;
  width: 70%;
}

.event_box select {
  margin-left: 10px;
  width: 70%;
}

.event_box input[type=date] {
  margin-left: 10px;
  width: 50%;
}

.event_box input[type=time] {
  margin-left: 10px;
  width: 35%;
}

.event_box button {
  margin: 10px;
  width: 50%;
}